.content {
    position: relative;
    z-index: 1;
  }
  
  .content-inner {
    padding: 20px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-items: center;
  }
  
  .content-inner h2 {
    text-align: left;
    font-size: 50px; 
    font-family: 'Lucida Sans';
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    width: 90vw;

    align-self: center;
    justify-self: center;
    padding: 20px 0px; 
  }
 .text-container{
    text-align: left;  
    width: 90vw;
  }
  .info-text{
    text-align: left;
    margin-top: 20px;  
  }
  