.content {
    position: relative;
    z-index: 1;
    padding-top: 100vh;
  }
  
  .content-inner {
    padding: 20px;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-top: 1px solid #ccc;
  }
  
  /* Anpassen der Scrollleiste */
  .content-inner::-webkit-scrollbar {
    width: 10px;
  }
  
  .content-inner::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
  }
  
  .content-inner::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  
  .content-inner h2 {
    text-align: center;
    font-size: 50px; /* Größe anpassen */
    margin-top: 0; /* Margin oben entfernen, um die Mitte oben zu positionieren */
    font-family: 'Lucida Sans';
  }
  .button-container {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 20px; 
  }